@import url('https://fonts.googleapis.com/css?family=Poiret+One|Berkshire+Swash|Righteous');
/* font-family: 'Shrikhand', cursive; */
/* font-family: 'Poiret One', cursive; */
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav{
  align-items:center;
  width: 100%;
  position: fixed;
  z-index: 9;
  padding: 1%;
  font-family: 'Berkshire Swash',cursive;
  background: linear-gradient(to right, #b79891, #94716b);
  height: 25px;
}
nav a{
  text-decoration: none;
  color: #fff;
  border: 2px brown;
  padding: 2% 2%;
}
.button {
  background-color: #258e08;
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
  margin-bottom: 2%;
}

.button:focus,
.button:hover {
  background-color: DarkGreen;
}

#cover{
  	height: 100%;
  	width: 100%;
  	background-image: url('../images/back.jpeg');
  	background-size: cover;
    padding: 0%;
    margin: 0%;
    display: table;
    text-transform: uppercase;
}
.content{
  display: table-cell;
  color: white;
  font-weight: bold;
  width: 100%;
  top: 0;
  vertical-align: middle;
}
.content h1{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Righteous';
  background: linear-gradient(to right, #ff512f, #dd2476);
  font-size: 48px;
}
.content p{
  text-align: center;
  font-weight:bold;
  font-size: 22px;
  color: #fff;
}
.content strong{
  font-weight: bolder;
}
#container{
  margin: 0;
  padding: 1%;
  text-align: justify;
  background-image: url('../images/texture.jpeg');
  background-size: cover;
}
.intro h2{
  text-align: center;
  font-family: 'Berkshire Swash',cursive;
}
.intro p{
  font-family: 'Poiret One',cursive;
  font-size: 20px;
  padding: 1%;
  font-weight: bolder;
}
.projects h2{
  text-align: center;
  font-family: 'Berkshire Swash',cursive;
}
.projects p{
  text-align: justify;
  font-family: 'Poiret One',cursive;
  font-size: 20px;
  padding: 1%;
  font-weight: bolder;
}
.cards img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.flex-container{
  display: flex;
}
.cards{
  box-shadow: 0 4px 8px 0 #00000033;
  transition: 0.3s;
  width: 25%;
  margin: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  background-color: white;

}
.cards:hover{
  box-shadow: 0 8px 16px 0 #00000033;
}
.cardcontent{
  padding: 2px 16px;
  text-align: center;
}
span{
  font-style: italic;
  font-weight: bold;
}
