@import url('https://fonts.googleapis.com/css?family=Poiret+One|Russo+One');
/* font-family: 'Shrikhand', cursive; */
/* font-family: 'Poiret One', cursive; */
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.button {
  background-color: ForestGreen;
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
  margin-bottom: 2%;
}

.button:focus,
.button:hover {
  background-color: DarkGreen;
}

#cover{
  	height: 100%;
  	width: 100%;
  	background-image: url('../images/cover.jpg');
  	background-size: cover;
    padding: 0%;
    margin: 0%;
    display: table;
}
.content{
  display: table-cell;
  color: white;
  font-weight: bold;
  width: 100%;
  top: 0;
  vertical-align: middle;
}
.content h1{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}
#container{
  margin: 0;
  padding: 1%;
  text-align: justify;
  background-image: url('../images/texture.jpeg');
  background-size: cover;

}
.intro h2{
  text-align: center;
  font-family: 'Russ One',cursive;
}
.intro p{
  font-family: 'Poiret One',cursive;
  font-size: 20px;
  padding: 1%;
}
.projects h2{
  text-align: center;
  font-family: 'Russ One',cursive;
}
.projects p{
  text-align: justify;
  font-family: 'Poiret One',cursive;
  font-size: 20px;
  padding: 1%;
  font-weight: bolder;
}
.cards img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.flex-container{
  display: flex;
}
.cards{
  box-shadow: 0 4px 8px 0 #00000033;
  transition: 0.3s;
  width: 25%;
  margin: 1%;
  padding-bottom: 1%;
  border-radius: 5px;
  background-color: white;

}
.cards:hover{
  box-shadow: 0 8px 16px 0 #00000033;
}
.cardcontent{
  padding: 2px 16px;
  text-align: center;
}
